.main {
    margin: 15px;
    height: 251px;
    width: 320px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
}

.top {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    background-color: rgb(224, 224, 224);
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

.avatar img {
    height: 100%;
    width: 100%;
}

.description {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    margin-left: 10%;
}

.name {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;  
}

.description table {
    font-size: 16px;
    line-height: 18px;
    width: 80%;
}

.description table p {
    color: #545454;
    text-align: right;
}

.favoriteImage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.favoriteImage img {
    height: 24px;
}

.favoriteImage img:hover {
    cursor: pointer;
}

.center {
    flex: 1;
}


